.token.comment {
  color: #008000;
  font-style: italic;
}

.token.prolog {
  color: #008000;
  font-style: italic;
}

.token.doctype {
  color: #008000;
  font-style: italic;
}

.token.cdata {
  color: #008000;
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string {
  color: #A31515;
}

.token.punctuation {
  color: #393A34;
}

.token.operator {
  color: #393A34;
}

.token.url {
  color: #36acaa;
}

.token.symbol {
  color: #36acaa;
}

.token.number {
  color: #36acaa;
}

.token.boolean {
  color: #36acaa;
}

.token.variable {
  color: #36acaa;
}

.token.constant {
  color: #36acaa;
}

.token.inserted {
  color: #36acaa;
}

.token.atrule {
  color: #0000ff;
}

.token.keyword {
  color: #0000ff;
}

.token.attr-value {
  color: #0000ff;
}

.token.language-autohotkey .token.selector {
  color: #0000ff;
}

.token.language-json .token.boolean {
  color: #0000ff;
}

.token.language-json .token.number {
  color: #0000ff;
}

.tokencode[class*="language-css"] {
  color: #0000ff;
}

.token.function {
  color: #393A34;
}

.token.deleted {
  color: #9a050f;
}

.token.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.selector {
  color: #800000;
}

.token.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important {
  color: #e90;
  font-weight: bold;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name {
  color: #2B91AF;
}

.token.language-json .token.property {
  color: #2B91AF;
}

.token.tag {
  color: #800000;
}

.token.attr-name {
  color: #ff0000;
}

.token.property {
  color: #ff0000;
}

.token.regex {
  color: #ff0000;
}

.token.entity {
  color: #ff0000;
}

.token.directive.tag.tag {
  background: #ffff00;
  color: #393A34;
}

.token.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #a5a5a5;
}

.token.line-numbers .line-numbers-rows>span:before {
  color: #2B91AF;
}

.token.line-highlight.line-highlight {
  background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}